// Typography
$font-family-body: "Inter", $tbds-font-sans-serif;
$font-family-heading: $font-family-body;

// Font Sizes
$larger-font-size: 36px;
$large-font-size: 24px;
$medium-font-size: 18px;
$base-font-size: 16px;
$small-font-size: 14px;
$tiny-font-size: 12px;

// Font Weight
$font-weight-normal: 400;
$font-weight-medium: 600;
$font-weight-bold: 750;

// Line height
$base-line-height: 1.6;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 4px;
$base-spacing: 30px;
$large-spacing: $base-spacing * 2;
$small-spacing: $base-spacing / 2;
$tiny-spacing: $small-spacing / 2;
$tiniest-spacing: $tiny-spacing / 2;

// Colors
$dark-blue: #2e303a;
$light-gray: #e3e3e3;
$dark-gray: #545559;
$medium-gray: #999;
$seafoam: #4cbd9c;
$white: #fff;
$lightest-gray: lighten($light-gray, 7%);

// Font Colors
$base-font-color: $tbds-color-text-default;
$action-color: $tbds-brand-red;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fcfcfc;

// Forms
$form-box-shadow: inset 0 1px 1px rgba($dark-blue, 0.1);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
$long-duration: 0.6s;

// Z-indeces
$mezzanine-z-index: 500;
$ceiling-z-index: 1000;

// Transitions
$base-transition-time: 0.3s;

// Box shadow
$base-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
