<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>Constable comment</title>
    <style>
      .avatar-rounded {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        margin-right: 0.3rem;
      }

      .left-padded {
        padding-left: 8px;
      }

      .interest {
        font-size: 16px !important;
        font-weight: bold;
      }

      * {
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
      }

      a {
        text-decoration: none; !important;
      }

      h1,
      h2,
      h3,
      h4,
      h5 {
        margin-bottom: .5em; !important;
      }

      @media (max-width: 320px) {

        /* Forces the button to full width */

        .btn-full {
          width: 100% !important;
        }
      }

      @media (max-width: 600px) {

        /* Typography */

        table {
          font-size: 12px !important;
        }

        h1 {
          font-size: 20px !important;
        }

        h2 {
          font-size: 18px !important;
        }

        h3 {
          font-size: 16px !important; }

        h4 {
          font-size: 14px !important; }

        h5 {
          font-size: 14px !important;
        }

        /* Makes fixed width items flexible */

        .flex-size {
          width: 100% !important;
        }

        /* Contains content images */

        .flex-size img {
          max-width: 100% !important;
        }
      }
    </style>
  </head>

  <body leftmargin="0" marginwidth="0" marginheight="0" offset="0" topmargin="0" style="padding: 0;">
    <table bgcolor="#fefefe" border="0" cellspacing="0" cellpadding="0" width="100%">
      <tr>
        <td>
          <center>
          <!-- ===================================== -->
          <!-- Header Includes -->
          <!-- ===================================== -->
          <!-- ===================================== -->
          <!-- Header Container -->
          <!-- ===================================== -->
          <table bgcolor='#2e303b' border='0' cellpadding='0' cellspacing='0' style='border-bottom: 1px solid #727791;' width='100%'>
            <tr>
              <td></td>
            </tr>
          </table>
          <!-- ===================================== -->
          <!-- Announcement Include -->
          <!-- ===================================== -->
          <!-- ===================================== -->
          <!-- Announcement Container -->
          <!-- ===================================== -->
          <!-- ===================================== -->
          <!-- Content Name -->
          <!-- ===================================== -->
          <table border='0' cellpadding='0' cellspacing='0' class='flex-size' style='color: #666A80; font-family: Helvetica, Tahoma, sans-serif; font-size: 16px; line-height: 1.5;' width='700'>
            <!-- Spacer -->
            <tr>
              <td colspan='3' height='35'></td>
            </tr>
            <!-- ===================================== -->
            <!-- Content -->
            <!-- ===================================== -->
            <!-- Spacer -->
            <tr>
              <td colspan='3' height='10'></td>
            </tr>
            <tr>
              <td width='40'></td>
              <td align='left'>
                <%= unless Enum.empty?(@interests) do %>
                  <h4><%= gettext("Recently added interests") %></h4>

                  <%= for interest <- @interests do %>
                    <div class="interest left-padded">
                      <%= link "##{interest.name}", to: interest_url(ConstableWeb.Endpoint, :show, interest), style: "color: #{red()}" %>
                    </div>
                  <% end %>
                <% end %>

                <%= unless Enum.empty?(@announcements) do %>
                  <h4><%= gettext("Recently added announcements") %></h4><!-- Change to h4 to match interests -->

                  <%= for announcement <- @announcements do %>
                    <div class="left-padded">
                      <h4><%= link announcement.title, to: announcement_url(ConstableWeb.Endpoint, :show, announcement), style: "color: #{red()}" %></h4>
                      <%= gettext("posted by") %> <strong><%= announcement.user.name %></strong> <%= gettext("in") %> <%= raw interest_links(announcement) %>
                    </div>
                  <% end %>
                <% end %>

                <%= unless Enum.empty?(@comments) do %>
                  <h4>
                    <%= ngettext("%{count} announcement was discussed", "%{count} announcements were discussed", length(discussed_announcements(@comments))) %>
                    <%= ngettext("by %{count} person", "by %{count} people", length(unique_commenters(@comments))) %>
                  </h4>

                  <div class="left-padded">
                    <%= for commenter <- unique_commenters(@comments) do %>
                      <img src="<%= author_avatar_url(commenter) %>" class="avatar-rounded">
                    <% end %>
                  </div>

                  <%= for announcement <- discussed_announcements(@comments) do %>
                    <div class="left-padded">
                      <h4><%= link announcement.title, to: announcement_url(ConstableWeb.Endpoint, :show, announcement), style: "color: #{red()}" %></h4>
                      <%= new_comment_count_text(@comments, announcement) %> <%= commenters_list_text(announcement, @comments) %>
                    </div>
                  <% end %>
                <% end %>
              </td>
              <td width='40'></td>
            </tr>
            <!-- ===================================== -->
            <!-- Closing -->
            <!-- ===================================== -->
            <!-- Spacer -->
            <tr>
              <td colspan='3' height='45'></td>
            </tr>
            <tr>
              <td width='40'></td>
              <td align='center'>
                <%= link to: announcement_url(ConstableWeb.Endpoint, :index) do %>
                  <h4 style='color: <%= red() %>; font-size: 18px; margin: 0; padding-bottom: 5px;'>
                    <%= gettext("View Interests and Announcements on Constable") %>
                  </h4>
                <% end %>
              </td>
              <td width='40'></td>
            </tr>
            <!-- Spacer -->
            <tr>
              <td colspan='3' height='45'></td>
            </tr>
          </table>
          <!-- ===================================== -->
          <!-- Footer Include -->
          <!-- ===================================== -->
          <!-- ===================================== -->
          <!-- Footer Container -->
          <!-- ===================================== -->
          <table bgcolor='#ffffff' border='0' cellpadding='0' cellspacing='0' width='100%'>
            <tr>
              <td>
                <!-- ===================================== -->
                <!-- Footer Content -->
                <!-- ===================================== -->
                <table align='center' border='0' cellpadding='0' cellspacing='0' class='flex-size' style='color: #d4d4d4; font-family: Helvetica, Tahoma, sans-serif; font-size: 16px; line-height: 1.5; font-size: 14px;' width='700'>
                  <!-- Vertical Spacer -->
                  <tr>
                    <td colspan='3' height='30'></td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          </center>
        </td>
      </tr>
    </table>
  </body>
</html>
