<tr>
  <td colspan="2" height="125" align="center">
    <%= link to: unsubscribe_link do %>
      <span style="color: <%= light_gray %>; font-size: 13px;">
        <%= gettext("Unsubscribe from emails") %>
      </span>
    <% end %>
  </td>
</tr>
