<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Constable</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="page">
      <header class="main-header">
        <%= if get_flash(@conn, :info) do %>
          <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <% end %>
        <%= if get_flash(@conn, :error) do %>
          <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        <% end %>

        <%= link "#constable", to: "/", class: "logo" %>

        <ul class="navigation right">
          <li>
            <a href="#"><span class="icon-search"></a>
          </li>
          <li>
            <%= link "",
              to: announcement_path(@conn, :index),
              class: "button button-square button-create-new"
            %>
          </li>
          <li>
            <%= link to: "#", class: "settings-gravatar" do %>
              <img
                src="<%= gravatar(@conn.assigns.current_user) %>"
                class="current-user-gravatar button-square"
              />
            <% end %>
          </li>
        </ul>
      </header>

      <%= render @view_module, @view_template, assigns %>
    </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
