input,
label,
select {
  display: block;
  font-family: $font-family-body;
  font-size: $base-font-size;
}

label {
  font-weight: $font-weight-medium;

  &.required::after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

#{$all-text-inputs},
select[multiple=multiple] {
  background-color: $base-background-color;
  border: $base-border;
  border-radius: $base-border-radius;
  box-shadow: $form-box-shadow;
  box-sizing: border-box;
  font-family: $font-family-body;
  font-size: $base-font-size;
  margin-bottom: $small-spacing;
  padding: $tiny-spacing;
  transition: border-color $base-duration $base-timing;
  width: 100%;

  &.input-minimal {
    border: none;
    border-bottom: 1px solid $light-gray;
    box-shadow: none;
    font-family: Monaco;
    margin-bottom: $base-spacing;
    padding: 0;
    padding-bottom: $tiny-spacing;

    &:focus {
      border-radius: 0;
      box-shadow: none;
    }

    &::-webkit-input-placeholder {
      color: $medium-gray;
    }
  }

  &:hover {
    border-color: shade($base-border-color, 20%);
  }

  &:focus {
    border-color: shade($base-border-color, 30%);
    outline: none;
  }

  &:disabled {
    background-color: $medium-gray;
    cursor: not-allowed;
  }
}

.error-field {
  border-color: $action-color;
}

textarea {
  border: $base-border;
  color: $base-font-color;
  line-height: 1.6;
  padding: $small-spacing;
  resize: vertical;
}

input[type="search"] {
  appearance: none;
}

input[type="file"] {
  margin-bottom: $small-spacing;
  width: 100%;
}

select {
  margin-bottom: $base-spacing;
  max-width: 100%;
  width: auto;
}

.switch-container {
  align-items: center;
  display: flex;
}
