html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
}

main {
  padding: 0
    calc(#{$tiniest-spacing} + env(safe-area-inset-right))
    calc(#{$tiniest-spacing} + env(safe-area-inset-bottom))
    calc(#{$tiniest-spacing} + env(safe-area-inset-left));
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
