body {
  color: $base-font-color;
  font-family: $font-family-body;
  font-size: $base-font-size;
  font-variant-ligatures: contextual common-ligatures;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-heading;
  font-size: $base-font-size;
  font-weight: $font-weight-bold;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

h1 {
  font-size: $large-font-size;
}

h2 {
  font-size: 20px;
  margin-bottom: 0;
}

h4 {
  font-size: $base-font-size;
  margin-bottom: 0;
}

b,
strong {
  font-weight: $font-weight-bold;
}

blockquote,
p {
  @include margin(0 null ($base-line-height * 0.75) null);
}

a {
  color: $action-color;
  text-decoration: underline;
  transition: color $base-duration $base-timing;
  word-wrap: break-word;

  &:active,
  &:focus,
  &:hover {
    text-decoration: underline dashed;
    text-decoration-skip-ink: auto;
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}
