version: 2
jobs:
  build:
    parallelism: 1
    docker:
      - image: circleci/elixir:1.9.1-node-browsers
        environment:
          MIX_ENV: test
          CLIENT_ID: fake
          CLIENT_SECRET_ID: fake
          OUTBOUND_EMAIL_DOMAIN: http://localhost
          INBOUND_EMAIL_DOMAIN: http://localhost
          SLACK_WEBHOOK_URL: https://fakeslack/webhook
      - image: circleci/postgres:10.5-alpine
        environment:
          POSTGRES_USER: postgres
          POSTGRES_DB: constable_api_test
          POSTGRES_PASSWORD:

    working_directory: ~/app

    steps:
      - checkout

      - run:
          name: Chromedriver version
          command: chromedriver -v

      - run:
          name: Elixir & Erlang versions
          command: elixir -v

      - run:
          name: npm & node versions
          command: npm -v && node -v

      - run: mix local.hex --force
      - run: mix local.rebar --force

      - restore_cache:
          keys:
            - v5-mix-cache-{{ .Branch }}-{{ checksum "mix.lock" }}
            - v5-mix-cache-{{ .Branch }}
            - v5-mix-cache
      - restore_cache:
          keys:
            - v5-build-cache-{{ .Branch }}
            - v5-build-cache
      - run: mix do deps.get, compile --warnings-as-errors
      - save_cache:
          key: v5-mix-cache-{{ .Branch }}-{{ checksum "mix.lock" }}
          paths: "deps"
      - save_cache:
          key: v5-mix-cache-{{ .Branch }}
          paths: "deps"
      - save_cache:
          key: v5-mix-cache
          paths: "deps"
      - save_cache:
          key: v5-build-cache-{{ .Branch }}
          paths: "_build"
      - save_cache:
          key: v5-build-cache
          paths: "_build"

      - restore_cache:
          keys:
            - v5-npm-cache-{{ .Branch }}-{{ checksum "assets/package-lock.json" }}
            - v5-npm-cache-{{ .Branch }}
            - v5-npm-cache
      - run:
          working_directory: assets
          command: npm install && node_modules/.bin/webpack --mode production
      - save_cache:
          key: v5-npm-cache-{{ .Branch }}-{{ checksum "assets/package-lock.json" }}
          paths: "assets/node_modules"
      - save_cache:
          key: v5-npm-cache-{{ .Branch }}
          paths: "assets/node_modules"
      - save_cache:
          key: v5-npm-cache
          paths: "assets/node_modules"

      - run: mix format --check-formatted

      - run:
          name: Wait for DB
          command: dockerize -wait tcp://localhost:5432 -timeout 1m

      - run: mix test
      - run: cd assets/ && npm run eslint

      - store_test_results:
          path: _build/test/lib/constable
