<%= link to: Routes.announcement_subscription_path(ConstableWeb.Endpoint, :delete, @announcement_id),
  method: :delete,
  class: "tbds-button button-secondary" do %>
  <svg class="tbds-button__icon tbds-button__icon--start">
    <use xlink:href="/images/icons.svg#check"></use>
  </svg>
  <%= gettext("Subscribed to thread") %>
<% end %>
