.button,
#{$all-buttons} {
  -webkit-font-smoothing: antialiased;
  appearance: none;
  background-color: $action-color;
  border: 0;
  border-radius: $base-border-radius;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $bold-font-family;
  font-size: $base-font-size;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-align: center;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: shade($action-color, 10%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }
}

.button-secondary {
  background-color: $dark-gray;
}

.button-small {
  @include padding($tiny-spacing $small-spacing);
  font-size: $small-font-size;
  height: $button-small-height;
  min-width: 60px;
}

.button-icon {
  align-items: center;
  display: flex;
  justify-content: center;
}

.subscription {
  transition: all 0.25s ease-out;

  .button {
    background-color: transparent;
    color: $action-color;
    font-size: $small-font-size;
    padding: 0;

    &-subscribe,
    &-unsubscribe {
      &::after {
        @include size(26px);
        @include position(relative, -1px -3px null null);
        background-size: 100%;
        content: "";
        display: inline-block;
        vertical-align: middle;
      }
    }

    &:hover {
      text-decoration: none;
    }

    &-subscribe {
      &::after {
        background-image: url("../images/subscribe-icon.svg");
      }
    }

    &-unsubscribe {
      &::after {
        background-image: url("../images/unsubscribe-icon.svg");
      }
    }
  }
}
