// Typography
$base-font-family: 'hk_groteskregular', 'Helvetica';
$bold-font-family: 'hk_groteskbold';
$medium-font-family: 'hk_groteskmedium';
$heading-font-family: $base-font-family;

// Font Sizes
$large-font-size: 24px;
$base-font-size: 16px;
$small-font-size: 14px;

// Font Weight
$bold-weight: 500;

// Line height
$base-line-height: 1.8;
$heading-line-height: 1.2;

// Other Sizes
$button-small-height: 36px;
$base-border-radius: 4px;
$base-spacing: 30px;
$large-spacing: $base-spacing * 2;
$small-spacing: $base-spacing / 2;
$tiny-spacing: $small-spacing / 2;
$base-z-index: 0;
$rounded-avatar-size: 20px;

// Colors
$red: #ed3e44;
$dark-blue: #2e303a;
$light-gray: #E3E3E3;
$dark-gray: #545559;
$medium-gray: #999;
$seafoam: #4cbd9c;
$white: #fff;

$lightest-gray: lighten($light-gray, 7%);
$autocomplete-hover-color: darken($light-gray, 5%);

// Font Colors
$base-font-color: $dark-gray;
$action-color: $red;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fcfcfc;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 1px rgba($dark-blue, 0.1);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
$long-duration: 0.6s;

// Z-indeces
$base-z-index: 0;
$z-index-subscribed-tooltip: 2;
$z-index-interests-overlay: 1;
$z-index-interests-select: 2;
$z-index-modal: 1;

// Transitions
$base-transition-time: 0.3s;
$fast-transtion-time: $base-transition-time / 2;

// Box shadow
$base-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
$tight-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.75);
