@font-face {
  font-family: "hk_groteskregular";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/hkgrotesk-regular-webfont.woff2") format("woff2"),
    url("/fonts/hkgrotesk-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "hk_groteskmedium";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/hkgrotesk-medium-webfont.woff2") format("woff2"),
    url("/fonts/hkgrotesk-medium-webfont.woff") format("woff");
}

@font-face {
  font-family: "hk_groteskbold";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/hkgrotesk-bold-webfont.woff2") format("woff2"),
    url("/fonts/hkgrotesk-bold-webfont.woff") format("woff");
}
