.segmented-control-wrapper {
  @include padding(null $small-spacing);
  background-color: $white;
  border-bottom: $base-border;
  line-height: $base-spacing;
  text-align: center;

  @include media($small-screen-up) {
    @include padding(null $base-spacing);
    text-align: left;
  }
}

.segmented-control {
  font-size: $small-font-size;
  position: relative;
  z-index: $mezzanine-z-index;

  .announcements & {
    padding: 0;
  }

  a {
    border-bottom: 1px solid transparent;
    color: $medium-gray;
    display: inline-block;
    padding: $tiny-spacing;
    transform: translateY(1px);
    z-index: $mezzanine-z-index;

    @include media($small-screen-up) {
      @include padding($small-spacing null);
    }

    &:hover,
    &:active {
      color: $dark-blue;
      text-decoration: none;
    }

    &.selected {
      border-color: $dark-blue;
    }
  }

  .selected {
    color: $dark-blue;
  }
}

.subscribed-to {
  color: $action-color;
}

.view-all-interests {
  border-top: $base-border;
  color: $dark-blue;
  display: block;
  font-size: $tiny-font-size;
  width: 100%;

  @include media($small-screen-up) {
    border-top: 0;
    float: right;
    width: auto;
  }
}
