.search-results-header {
  margin-top: $base-spacing;
}

.announcements {
  list-style-type: none;
}

.announcement-list-item {
  @include padding($base-spacing null);
  border-bottom: $base-border;

  h1 {
    margin-bottom: 0;
  }

  .announcement-metadata {
    margin-bottom: 0;
  }

  span {
    color: $medium-gray;
  }

  .interest {
    color: $dark-blue;

    &:after {
      content: ", "
    }

    &:before {
      content: "#"
    }

    &:last-of-type:after {
      content: "";
    }
  }

  &:last-child {
    border-bottom: none;
  }
}

.announcement-metadata {
  @include margin(null null $base-spacing);
  color: $medium-gray;

  .author {
    display: inline;
    color: $base-font-color;
  }

  .avatar-rounded {
    @include position(relative, 4px null null null);
    margin-right: 0;
  }
}

.announcement-interest {
  color: $base-font-color;
  display: inline-flex;

  &::after {
    content: ",\00a0";
    display: inline-block;
    text-decoration: none;
  }

  &::before {
    content: "#"
  }

  &:last-of-type:after {
    content: "";
  }

  .announcement & {
    font-size: $small-font-size;
  }
}

.commenters {
  margin-top: $small-spacing;
}
