.search-results-header {
  margin-top: $base-spacing;
}

.announcements {
  list-style-type: none;
}

.announcement-list-item {
  @include padding($base-spacing null);
  border-bottom: $base-border;

  h1 {
    font-size: 1.75rem;
    margin-bottom: $tiniest-spacing;
  }

  .announcement-metadata {
    margin-bottom: 0;
  }

  span {
    color: $medium-gray;
  }

  .interest {
    color: $dark-blue;

    &:after {
      content: ", ";
    }

    &:before {
      content: "#";
    }

    &:last-of-type:after {
      content: "";
    }
  }

  &:last-child {
    border-bottom: none;
  }
}

.announcement-list-item-heading {
  color: $base-font-color;
}

.announcement-metadata {
  color: $medium-gray;
  font-size: $small-font-size;

  .author {
    color: $base-font-color;
  }

  .subscription {
    @include margin($small-spacing 0);
  }
}

.announcement-interest {
  @include padding(null $tiny-spacing);
  background-color: $lightest-gray;
  color: $base-font-color;
  display: inline-flex;
  font-size: $small-font-size;
  line-height: normal;
  margin-top: $tiniest-spacing;

  &::before {
    content: "#";
  }

  &:last-of-type:after {
    content: "";
  }
}

.commenters {
  margin-top: $small-spacing;
}
