@import '../static/vendor/textcomplete.css';

.dropdown-menu {
  background-color: $white;
  border: none;
  border-radius: $base-border-radius;
  box-shadow: $base-box-shadow;

  li {
    border-top: $base-border;
    cursor: pointer;
    padding: $tiny-spacing $small-spacing;

    &.active,
    &:hover {
      background-color: $dark-gray;
      border-color: transparent;

      a {
        color: $white;
        text-decoration: none;
      }
    }
  }
}

.textcomplete-header,
.textcomplete-footer {
  display: none;
}

.textcomplete-item {
  transition: background-color $base-transition-time;

  &.active {
    &:first-of-type {
      @include border-top-radius($base-border-radius);
    }

    &:last-of-type {
      @include border-bottom-radius($base-border-radius);
    }
  }

  a {
    display: flex;
    align-items: center;
    color: $base-font-color;
    font-size: $small-font-size;
  }
}
