.current-channel {
  color: $base-font-color;
  padding-top: $small-spacing;
  position: relative;

  a {
    color: $base-font-color;
  }
}

.remove-slack-channel {
  @include position(absolute, null 0 0 null);
}

.interest-list-item-heading::before {
  content: "#";
}

.interest-list-item {
  align-items: baseline;
  border-bottom: $base-border;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: $small-spacing 0;

  h3 {
    margin: 0;

    &::before {
      content: "#";
    }

    a {
      color: $dark-gray;
      text-decoration: underline;
    }
  }
}
