.current-channel {
  color: $base-font-color;
  padding-top: $small-spacing;
  position: relative;

  a {
    color: $base-font-color;
  }
}

.remove-slack-channel {
  @include position(absolute, null 0 0 null);
  background-color: $light-gray;
  color: $dark-gray;

  &:hover {
    color: $dark-gray;
  }
}

.interest-list-item-heading::before {
  content: "#";
}

.interest-list-item {
  align-items: baseline;
  border-bottom: $base-border;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: $small-spacing 0;

  h3 {
    margin: 0;

    &::before {
      content: "#";
    }

    a {
      color: $dark-gray;
      text-decoration: underline;
    }
  }
}

.subscribe-to,
.unsubscribe-to {
  border-radius: $base-border-radius;
  font-size: $small-font-size;
  line-height: normal;
  padding: $tiny-spacing $small-spacing;
  text-align: center;
  width: 100%;
}

.subscribe-to {
  border: $base-border;
  color: $base-font-color;

  &::before {
    @include icon-as-pseudo(10px, "/images/icon-plus.svg");
  }
}

.unsubscribe-to {
  background-color: $action-color;
  color: $white;

  &::before {
    @include icon-as-pseudo(12px, "/images/icon-check-white.svg");
    transform: translateX(3px);
  }
}

.interest-list-item .link {
  display: inline-flex;
  flex-shrink: 0;
  min-width: 7.5em;
}

.announcement-interests {
  flex-basis: 60%;
  margin-bottom: $small-spacing;
}
