.col-markdown {
  textarea {
    min-height: 400px;
  }
}

.announcement-form__markdown {
  h1 {
    margin-top: 0;
  }
}

.recipients-preview {
  position: relative;

  .interested-user-count {
    text-decoration: underline;

    &:hover, &:focus {
      color: $tbds-brand-red;

      + .interested-user-names {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .interested-user-names {
    @include position(absolute, 24px null null null);
    background-color: $white;
    border: $base-border;
    border-radius: $base-border-radius;
    box-shadow: 0 0 16px rgba($light-gray, 0.6);
    visibility: hidden;
    opacity: 0;
    display: block;
    font-size: $small-font-size;
    padding: $small-spacing;
    width: 600px;
    transition: opacity 150ms, visibility 150ms;
    z-index: $ceiling-z-index;
  }
}
