.search-results-header {
  margin-top: $base-spacing;
}

.announcement-list-item {
  .announcement-metadata {
    margin-bottom: 0;
  }

  span {
    color: $medium-gray;
  }

  &:last-child {
    border-bottom: none;
  }
}

.announcement-list-item-heading {
  font-size: 1.75rem;
  font-weight: $font-weight-bold;
  line-height: $heading-line-height;
  margin-bottom: $tiniest-spacing;
  margin-top: 0;
}

.announcement-list-item-metadata {
  color: $secondary-font-color;
  font-size: $small-font-size;
}

.announcement-metadata-container {
  color: $secondary-font-color;
  display: flex;
  flex-wrap: wrap;
  font-size: $small-font-size;

  .announcement-metadata-item {
    flex: 1 0 auto;
  }

  .author {
    color: $base-font-color;
    font-weight: $font-weight-bold;
  }

  .subscription {
    @include margin($small-spacing 0);
    margin-left: 1rem;
  }
}

.commenters {
  margin-top: $small-spacing;
}

.commenters__avatar {
  @include size(32px);
  border: medium solid $white;
  border-radius: 50%;
  margin-right: -0.75rem;
  vertical-align: middle;

  &:first-of-type {
    @include size(40px);
    margin-right: 0;
    position: relative;
    z-index: $mezzanine-z-index;
  }
}
