.flex-container {
  display: flex;
  justify-content: flex-start;

  @media (min-width: $breakpoint-1) {
    justify-content: center;
  }
}

.announcement-create,
.announcement-preview {
  display: none;
  flex: 1;
  min-height: calc(100vh - 91px);
  padding: $large-spacing $base-spacing;

  @media (min-width: $breakpoint-1) {
    display: block;
  }

  &.active {
    display: block;
  }
}

.announcement-preview {
  border-left: 1px solid darken($lightest-gray, 4%);
}

.header-tags {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: $mezzanine-z-index;
}

.header-tag {
  @include padding($tiny-spacing null $tiny-spacing $base-spacing);
  background-color: $light-gray;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  transition: background-color 0.1s ease-out;
  width: 100%;

  h2 {
    font-size: $tiny-font-size;
  }

  a {
    color: inherit;
    display: block;

    @media (min-width: $breakpoint-2) {
      cursor: default;
    }
  }

  &.active {
    background-color: $dark-blue;
    color: #fff;

    @media (min-width: $breakpoint-2) {
      background-color: $light-gray;
      color: $base-font-color;
    }
  }
}

.button-container {
  @include position(fixed, null 0 0 0);
  @include padding($base-spacing null);
  background-color: $white;
  border-top: $base-border;
  display: flex;
  justify-content: center;
}
