.search-results-header {
  margin-top: $base-spacing;
}

.announcement-list-item {
  h1 {
    font-size: 1.75rem;
    margin-bottom: $tiniest-spacing;
    margin-top: 0;
  }

  .announcement-metadata {
    margin-bottom: 0;
  }

  span {
    color: $medium-gray;
  }

  &:last-child {
    border-bottom: none;
  }
}

.announcement-metadata {
  color: $secondary-font-color;
  font-size: $small-font-size;

  .author {
    color: $base-font-color;
  }

  .subscription {
    @include margin($small-spacing 0);
  }
}

.announcement-interest {
  @include margin($tiniest-spacing $tiniest-spacing null);
  @include padding(null $tiniest-spacing);
  background-color: $lightest-gray;
  color: $base-font-color;
  display: inline-flex;
  font-size: $small-font-size;
  line-height: normal;
}

.commenters {
  margin-top: $small-spacing;
}

.commenters__avatar {
  @include size(32px);
  border: medium solid $white;
  border-radius: 50%;
  margin-right: -0.75rem;
  vertical-align: middle;

  &:first-of-type {
    @include size(40px);
    margin-right: 0;
    position: relative;
    z-index: $mezzanine-z-index;
  }
}
