.announcement {
  margin-top: $base-spacing * 1.25;

  @media (min-width: $breakpoint-2) {
    margin-top: $large-spacing;
  }

  h1 {
    @include margin($small-spacing null);

    @media (min-width: $breakpoint-2) {
      @include margin($base-spacing null ($base-spacing * 0.85));
      font-size: $larger-font-size;
    }

    .inline-action {
      font-size: 0.5em;
      margin-right: $tiny-spacing;
    }

    form {
      display: inline-block;
    }
  }

  pre {
    background-color: lighten($dark-blue, 77%);
    border: 1px solid lighten($dark-blue, 74%);
    color: lighten($dark-blue, 20%);
    overflow-x: auto;
    padding: 10px;
  }

  code {
    background-color: $lightest-gray;
    padding: 1px;
  }

  &.loading {
    @include border-style(solid);
    @include border-width(0.5em);
    @include hide-text();
    @include size(5em);
    animation: $long-duration linear infinite loading-spinner;
    border-color: $base-border-color;
    border-left-color: $dark-blue;
    border-radius: 50%;
    text-transform: uppercase;
  }

  section {
    margin-bottom: $base-spacing;
  }
}

.comment-time {
  color: $secondary-font-color;
  font-size: $tiny-font-size;
  margin-bottom: 0;
}

.announcement-body,
.comment-body {
  h1,
  h2,
  h3,
  h4 {
    @include margin($base-spacing null $small-spacing null);
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  ul,
  ol {
    margin: 0 0 $base-spacing $base-spacing;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  p {
    overflow-wrap: break-word;

    &:last-child {
      margin-bottom: 0;
    }
  }

  blockquote {
    border-left: 3px solid $action-color;
    margin-top: $base-spacing;
    padding-left: $small-spacing;

    p {
      color: lighten($base-font-color, 13%);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.announcement-body {
  @include padding($base-spacing null);

  @media (min-width: $breakpoint-2) {
    @include padding($large-spacing null);
    font-size: $medium-font-size;
  }
}
