.app-header {
  align-items: center;
  background-color: $lightest-gray;
  border-bottom: $base-border;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: $small-spacing
    calc(#{$base-spacing} + env(safe-area-inset-right))
    $small-spacing
    calc(#{$base-spacing} + env(safe-area-inset-left));

  @media (min-width: $breakpoint-1) {
    padding: $small-spacing $base-spacing;
  }
}

.app-header__logo {
  color: $dark-blue;
  font-size: $medium-font-size;
  font-weight: $font-weight-medium;
  order: 2;
  text-align: center;

  @media (min-width: $breakpoint-2) {
    margin-bottom: 0;
  }
}

.app-header__user-avatar {
  margin-right: $small-spacing;
  order: 1;

  @media (min-width: $breakpoint-2) {
    order: 3;
  }
}

.app-header__search-form {
  flex: 1 0 100%;
  margin-top: $small-spacing;
  order: 4;
  position: relative;

  @media (min-width: $breakpoint-2) {
    @include margin(0 auto null);
    flex: 0 0 18.75rem;
    order: 2;
  }

  &::before {
    @include position(absolute, 28% null null $tiny-spacing);
    @include size(1.125rem);
    background: url("/images/icon-search.svg") center / cover no-repeat;
    content: "";
    opacity: 0.75;
    z-index: $mezzanine-z-index;
  }
}

.app-header__search-input {
  padding-left: $base-spacing;
}

.app-header__announce-button {
  order: 3;
}

.app-header__announce-button-text {
  display: none;

  @media (min-width: $breakpoint-2) {
    display: block;
  }
}
