.avatar-rounded {
  @include size($rounded-avatar-size);
  border-radius: 50%;
  vertical-align: middle;

  .commenters & {
    &:first-of-type {
      @include size($rounded-avatar-size-large);
      position: relative;
      z-index: $mezzanine-z-index;
    }
  }
}

.avatar-rounded-small {
  @include size($rounded-avatar-size-small);
}

.avatar-rounded-border {
  border: medium solid $white;
}

.avatar-stacked {
  &:not(:first-of-type) {
    margin-right: -0.75rem;
  }
}
