.avatar-rounded {
  @include size($rounded-avatar-size);
  border-radius: 50%;
  vertical-align: middle;

  .commenters & {
    &:first-of-type {
      @include size($rounded-avatar-size-large);
      position: relative;
      z-index: $mezzanine-z-index;
    }
  }

  .textcomplete-item & {
    margin-right: $tiny-spacing;
  }
}

.avatar-rounded-large {
  @include size($rounded-avatar-size-large);
}

.avatar-rounded-small {
  @include size($rounded-avatar-size-small);
}

.avatar-rounded-optical-align-y {
  margin-top: -$tiny-spacing;
}

.avatar-rounded-border {
  border: medium solid $white;
}

.avatar-stacked {
  &:not(:first-of-type) {
    margin-right: -0.75rem;
  }
}

.avatar-settings {
  display: flex;

  & img {
    margin-right: 35px;
  }

  code {
    background-color: $lightest-gray;
    padding: 0.25rem;
  }
}
