.checkbox-switch {
  display: inline-block;
  overflow: hidden;
  padding: 0.5em 0.5em 0.5em 70px;
  position: relative;
}

.checkbox-switch span::before,
.checkbox-switch span::after {
  border: 1px solid #747474;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.checkbox-switch span::after {
  background: #EEE;
  border-radius: 100%;
  content: "";
  height: 1.5em;
  left: 0.25em;
  transition: right 0.1825s ease-in-out;
  width: 1.5em;
}

.checkbox-switch span::before {
  background: rgba(121, 0, 0, 0.3);
  border-radius: 1.75em;
  color: #FFF;
  font-variant: small-caps;
  font-weight: bold;
  height: 1.5em;
  left: 0.25em;
  line-height: 1.3em;
  transition: background 0.2s ease-in-out;
  width: 3.75em;
}

.checkbox-switch input:checked + span::before {
  content: "on";
  padding-left: 10px;
}

.checkbox-switch input:not(:checked) + span::before {
  color: #000;
  content: "off";
  padding-left: 26px;
}

.checkbox-switch input {
  height: 100%;
  left: 0;
  opacity: 0.0001;
  position: absolute;
  top: 0;
  width: 100%;
}

.checkbox-switch input:not([role="button"]) {
  pointer-events: none;
}

.checkbox-switch input:focus + span::before {
  outline: 2px solid #0b758c;
  outline-offset: 2px;
}

.checkbox-switch input:checked + span::after {
  left: 2.5em;
}

.checkbox-switch input:checked + span::before {
  background: $tbds-brand-red;
}

@media screen and (-ms-high-contrast: active) {
  .checkbox-switch span::after {
    background-color: windowText;
  }
}
