// Based on https://scottaohara.github.io/a11y_styled_form_controls/src/checkbox--switch/

/* containing label */
.checkbox-switch {
  display: block;
  overflow: hidden;
  padding: 0.5em;
  position: relative;
}

/* using the before/after pseudo elements of the span to create the "switch" */
.checkbox-switch span::before,
.checkbox-switch span::after {
  border: 1px solid #747474;
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* styling specific to the knob of the switch */
.checkbox-switch span::after {
  background: #fff;
  border-radius: 100%;
  height: 1.5em;
  right: 1.5em;
  transition: right 0.1825s ease-in-out;
  width: 1.5em;
}

/* styling specific to the knob "container" */
.checkbox-switch span::before {
  background: rgba(121, 0, 0, 0.3);
  border-radius: 1.75em;
  height: 1.5em;
  right: 0.25em;
  transition: background 0.2s ease-in-out;
  width: 2.75em;
}

/* hide the actual checkbox from view, but not from keyboards or ATs.
   Instead of standard visually hidden styling, instead set opacity to
   almost 0 (not zero for ChomeVox legacy bug), pointer-events none, and
   then set to full height/width of container element so that VO focus
   ring outlines the component, instead of a tiny box within the component
*/
.checkbox-switch input {
  height: 100%;
  left: 0;
  opacity: 0.0001;
  position: absolute;
  top: 0;
  width: 100%;
}

.checkbox-switch input:not([role="button"]) {
  pointer-events: none;
}

.checkbox-switch input:focus + span::before {
  outline: 2px solid #0b758c;
  outline-offset: 2px;
}

/* change the position of the knob to indicate it has been checked */
.checkbox-switch input:checked + span::after {
  right: 0.25em;
}

/* update the color of the "container" to further visually indicate state */
.checkbox-switch input:checked + span::before {
  background: $tbds-brand-red;
}

/* 'color in' the switch knob in high contrast mode by giving it
   a large border */
@media screen and (-ms-high-contrast: active) {
  .checkbox-switch span::after {
    background-color: windowText;
  }
}
