%align-center-flex {
  align-items: center;
  display: flex;
}

.edit-comment {
  font-size: $tiny-font-size;
  margin-left: $tiniest-spacing;
}

.comment-body {
  position: relative;
}

.author-information {
  @extend %align-center-flex;
  @include padding($tiniest-spacing null $tiny-spacing);
  justify-content: space-between;
}

.author {
  flex: 1;
}

.comment-information {
  justify-content: space-between;
  margin-bottom: $tiny-spacing / 2;
}

.comment-new,
.comment-edit {
  margin-bottom: $base-spacing;
  padding-top: $base-spacing;
}

.comment-textarea {
  margin-bottom: $small-spacing;
  min-height: 150px;
}
