.comments-placeholder {
  color: #999;
  display: none;
  font-size: 1.3rem;
  text-align: center;
}

.comments-placeholder:only-child {
  display: block;
}

.edit-comment {
  font-size: $tiny-font-size;
  margin-left: $tiniest-spacing;
}

.comment-body {
  position: relative;
}

.author-information {
  @include padding($tiniest-spacing null $tiny-spacing);
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.author {
  flex: 1;
}

.comment-information {
  justify-content: space-between;
  margin-bottom: $tiny-spacing / 2;
}

.comment-new,
.comment-edit {
  margin-bottom: $base-spacing;
  padding-top: $base-spacing;
}

.comment-textarea {
  margin-bottom: $small-spacing;
  min-height: 150px;
}
