.comments-placeholder {
  color: #999;
  display: none;
  font-size: 1.3rem;
  text-align: center;
}

.comments-placeholder:only-child {
  display: block;
}

.edit-comment {
  font-size: $tiny-font-size;
  margin-left: $tiniest-spacing;
}

.comment-container {
  overflow-x: auto;
}

.comment-body {
  position: relative;
}

.author-information {
  @include padding($tiniest-spacing null $tiny-spacing);
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.author {
  flex: 1;
  font-weight: $font-weight-bold;
}

.comment-information {
  justify-content: space-between;
  margin-bottom: $tiny-spacing / 2;
}

.comment-edit,
.comment-new {
  background-color: $lightest-gray;
  border: $base-border;
  border-radius: $base-border-radius;
  margin: $base-spacing 0;
  padding: $tiny-spacing;
}

.comment-tab {
  background-color: $white;
  border: 1px solid $light-gray;
  border-radius: $base-border-radius;
  padding: $small-spacing;
}

.comment-tab-button {
  background-color: $lightest-gray;
  border: 1px solid rgba(0, 0, 0, 0);
  border-bottom-color: $light-gray;
  border-radius: $base-border-radius $base-border-radius 0 0;
  cursor: pointer;
  padding: $small-spacing;
}

.comment-tab-button--active {
  background-color: $white;
  border: 1px solid $light-gray;
  border-bottom-color: $white;
}

.comment-tab-list {
  margin-bottom: -1px;
  margin-left: $small-spacing;
}

.comment-textarea {
  border-color: $light-gray;
  margin-bottom: $small-spacing;
  min-height: 150px;
}

.comment-preview {
  margin-bottom: $small-spacing;
  min-height: 118px;

  pre {
    overflow-x: auto;
  }
}

.border-bottom {
  border-bottom: 1px solid $light-gray;
}
