.main-header {
  align-items: center;
  background-color: $lightest-gray;
  border-bottom: $base-border;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: $small-spacing $base-spacing;

  @include media($small-screen) {
    padding: $small-spacing;
  }
}

.logo {
  color: $dark-blue;
  font-size: $medium-font-size;
  font-weight: $font-weight-medium;
  order: 2;
  text-align: center;
  text-decoration: none;

  @include media($medium-screen-up) {
    margin-bottom: 0;
  }

  &:hover {
    text-decoration: none;
  }
}

.settings-gravatar {
  margin-right: $small-spacing;
  order: 1;

  @include media($medium-screen-up) {
    order: 3;
  }
}

.header-search-form {
  flex: 1 0 100%;
  margin-top: $small-spacing;
  order: 4;
  position: relative;

  @include media($medium-screen-up) {
    flex-basis: 18.75rem;
    margin-top: 0;
    order: 2;
  }
}

input[type="search"].header-search-input {
  font-size: $small-font-size;
  margin-bottom: 0;
  text-align: center;

  @include media($medium-screen-up) {
    @include size(18.75rem, auto);
    margin: 0 auto;
  }
}

.header-search-form::before {
  @include position(absolute, 28% null null $small-spacing);
  @include size(1.125rem);
  background: url("/images/icon-search.svg") center / cover no-repeat;
  content: "";
  opacity: 0.35;
  z-index: $mezzanine-z-index;

  @include media($medium-screen-up) {
    left: calc(50% - 8.5rem);
  }
}

.announce-text {
  display: none;

  @include media($medium-screen-up) {
    display: block;
  }
}

.announce {
  order: 3;
}
