.current-channel {
  color: $base-font-color;
  padding-top: $small-spacing;
  position: relative;

  a {
    color: $base-font-color;
  }
}

.remove-slack-channel {
  @include position(absolute, null 0 0 null);
}

.interest-list-item {
  h3 {
    margin: 0;
  }
}
