$progress-bar-height: 5px;

.uploadable-input {
  background-image: url("/images/upload-progress-bar-background.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 0 $progress-bar-height;
  display: block;

  @for $i from 1 through 99 {
    $percentage: $i;

    &[data-shubox-progress="#{$percentage}"] {
      background-size: ($percentage * 1%) $progress-bar-height;
    }
  }
}
