.announcement {
  margin-top: $base-spacing * 3;

  pre {
    background-color: lighten($dark-blue, 77%);
    border: 1px solid lighten($dark-blue, 74%);
    color: lighten($dark-blue, 20%);
    overflow-x: auto;
    padding: 10px;
  }

  code {
    background-color: $lightest-gray;
    padding: 1px;
  }

  &.loading {
    @include border-style(solid);
    @include border-width(0.5em);
    @include hide-text();
    @include size(5em);
    animation: $long-duration linear infinite loading-spinner;
    border-color: $base-border-color;
    border-left-color: $dark-blue;
    border-radius: 50%;
    text-transform: uppercase;
  }

  section {
    margin-bottom: $base-spacing;
  }
}

.comment-time {
  font-size: $small-font-size - 2px;
  margin-bottom: 0;
  color: $medium-gray;

  a {
    color: inherit;
  }
}

.announcement-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: $base-spacing;
}

.announcement-body,
.comment-body {
  h1,
  h2,
  h3,
  h4 {
    @include margin($base-spacing null $small-spacing null);
    font-family: $medium-font-family;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  ul,
  ol {
    margin: 0 0 $base-spacing $base-spacing;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  img {
    max-width: 100%;
  }

  p {
    overflow-wrap: break-word;

    &:last-child {
      margin-bottom: 0;
    }
  }

  blockquote {
    border-left: 3px solid $action-color;
    margin-top: $base-spacing;
    padding-left: $small-spacing;

    p {
      color: lighten($base-font-color, 13%);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
