.nav-primary {
  border-bottom: $base-border;
  font-size: $small-font-size;

  .announcements & {
    padding: 0;
  }

  a {
    border-bottom: 1px solid transparent;
    color: $medium-gray;
    padding: $tiny-spacing;
    transform: translateY(1px);

    &:hover,
    &:active {
      color: $dark-blue;
    }

    &.selected {
      border-color: $dark-blue;
    }
  }

  ul {
    align-items: center;
    display: flex;
    justify-content: center;
    list-style-type: none;

    li {
      display: inline-flex;
    }
  }

  .container {
    align-items: center;
  }

  .selected {
    color: $dark-blue;
  }
}

.mine.selected {
  + .select-interests-link,
  .caret {
    border-bottom: $dark-blue 1px solid;
  }
}

.interests-message {
  padding-top: $base-spacing * 0.5;
  text-align: center;
}
