@font-face {
    font-family: 'hk_groteskregular';
    src: url('/fonts/hkgrotesk-regular-webfont.woff2') format('woff2'),
         url('/fonts/hkgrotesk-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hk_groteskmedium';
    src: url('/fonts/hkgrotesk-medium-webfont.woff2') format('woff2'),
         url('/fonts/hkgrotesk-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hk_groteskbold';
    src: url('/fonts/hkgrotesk-bold-webfont.woff2') format('woff2'),
         url('/fonts/hkgrotesk-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
