@font-face {
  font-family: "Calibre";
  font-weight: 500;
  src: url("/fonts/CalibreWeb-Semibold.eot");
  src: url("/fonts/CalibreWeb-Semibold.eot?#iefix") format("embedded-opentype"),
       url("/fonts/CalibreWeb-Semibold.woff") format("woff")
}

@font-face {
  font-family: "Calibre";
  font-weight: normal;
  src: url("/fonts/CalibreWeb-Regular.eot");
  src: url("/fonts/CalibreWeb-Regular.eot?#iefix") format("embedded-opentype"),
       url("/fonts/CalibreWeb-Regular.woff") format("woff")
}
