.main-header {
  align-items: center;
  background-color: $lightest-gray;
  border-bottom: $base-border;
  display: flex;
  justify-content: space-between;
  padding: $base-spacing;

  @include media($small-screen) {
    padding: $small-spacing;
  }
}

.logo {
  text-decoration: none;
  font-family: $medium-font-family;
  color: $dark-blue;

  &:hover {
    text-decoration: none;
  }
}

.navigation {
  display: flex;

  li {
    margin-right: $small-spacing;

    &:last-child {
      margin-right: 0;
    }
  }
}

input[type="text"].header-search-input {
  @include size(280px $button-small-height);
  font-size: $small-font-size;
  margin-bottom: 0;

  @include media($small-screen) {
    width: 100px
  }
}

.current-user-gravatar {
  border-radius: $base-border-radius;
  vertical-align: middle;
  height: $button-small-height;
}
