.pagination {
  overflow: hidden;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;

  ul {
    display: inline;
    margin: 0;
    padding: 0;
    text-align: center;

    li {
      display: inline;
      list-style: none;
    }

    ul li {
      display: none;

      @include media($large-screen) {
        display: inline;
      }
    }

    li a {
      outline: none;
      padding: $base-spacing / 4 0;
      text-decoration: none;
      width: auto;
    }
  }

  .page-prev {
    float: right;
  }

  .page-next {
    float: left;
  }
}
