<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>You've been unsubscribed</title>
    <link rel="stylesheet" href="/css/phoenix.css">
  </head>

  <body>
    <div class="container">
      <section class="unsubscribe-banner">
        You've been unsubscribed. <%= link "Continue to Constable", to:
        System.get_env("FRONT_END_URI") %>
      </section>
    </div>
  </body>
</html>
