.container {
  margin: 0 auto;
  max-width: 620px;
  width: 80%;

  @include media($small-screen) {
    padding: 0 $small-spacing;
    width: 100%;
  }
}

.container-x-small {
  max-width: 400px;
}

.container-pad-top {
  padding-top: $base-spacing;
}

.container-full-height {
  height: 100%;
}
