.container {
  @include margin(null auto);
  @include padding(null $small-spacing);
  max-width: 40rem;
}

.container-x-small {
  max-width: 400px;
}

.container-pad-top {
  padding-top: $base-spacing;
}
