<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Constable <%= title(assigns) %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png" />
    <script>window.userToken = "<%= @current_user.token %>";</script>
    <script src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script src="<%= Application.fetch_env!(:constable, :shubox_script_url) %>"></script>
  </head>
  <body>
    <header class="app-header links-no-underline">
      <%= link "Constable", to: "/", class: "app-header__logo" %>

      <%= form_tag Routes.search_path(@conn, :show), class: "tbds-form app-header__search-form", method: :get do %>
        <input
          aria-label="Search Constable"
          class="tbds-form__text-input app-header__search-input"
          id="app-header__search-input"
          name="query"
          placeholder="Search…"
          type="search"
          value="<%= @conn.params["query"] %>"
        />
      <% end %>

      <%= link to: Routes.settings_path(@conn, :show), class: "app-header__user-avatar remote-append tbds-line-height-0", data: [role: "settings-link"] do %>
        <img
          alt="<%= @conn.assigns.current_user.name %>"
          class="tbds-avatar tbds-avatar--circle"
          height="80"
          src="<%= gravatar(@conn.assigns.current_user) %>"
          width="80"
        >
      <% end %>
      <%= link to: Routes.announcement_path(@conn, :new), class: "tbds-button app-header__announce-button" do %>
        <svg class="tbds-button__icon tbds-button__icon--start">
          <use xlink:href="/images/icons.svg#edit"></use>
        </svg>
        <span class="app-header__announce-button-text">Announce</span>
      <% end %>
    </header>

    <main id="main">
      <%= render "_flashes.html", conn: @conn %>
      <%= render @view_module, @view_template, assigns %>
    </main>
  </body>
</html>
