<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Constable <%= title(assigns) %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>">
    <script>window.userToken = "<%= @current_user.token %>";</script>
    <script src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script src="<%= Application.fetch_env!(:constable, :shubox_script_url) %>"></script>
  </head>

  <body>
    <div class="page">
      <header class="main-header">
        <%= link "#Constable", to: "/", class: "logo" %>

        <%= form_tag Routes.search_path(@conn, :show), class: "header-search-form", method: :get do %>
          <label class="is-hidden" for="header-search-input">Search Constable</label>
          <input
            class="header-search-input"
            id="header-search-input"
            name="query"
            placeholder="Search Constable..."
            type="search"
            value="<%= @conn.params["query"] %>"
          />
        <% end %>

        <%= link to: Routes.settings_path(@conn, :show), class: "settings-gravatar remote-append", data: [role: "settings-link"] do %>
          <img
            src="<%= gravatar(@conn.assigns.current_user) %>"
            class="avatar-rounded avatar-rounded-optical-align-y"
          />
        <% end %>
        <%= link to: Routes.announcement_path(@conn, :new), class: "announce button button-small button-icon" do %>
          <span class="announce-text">Announce</span>
        <% end %>
      </header>

      <%= render "_flashes.html", conn: @conn %>
      <%= render "_analytics.html" %>

      <%= render @view_module, @view_template, assigns %>
    </div>
  </body>
</html>
