<%= form_for @comment_changeset, @path, [class: "comment-form"], fn(f) -> %>
  <%= label f, :body, "Comment on this announcement:" %>
  <%= textarea f,
    :body,
    class: "comment-textarea mousetrap uploadable-input",
    placeholder: gettext("Markdown is supported. You can @mention specific people to notify them."),
    required: true
  %>

  <%= submit @submit_text, id: "submit-comment", class: "tbds-button" %>
<% end %>
