<div class="container">
  <div class="comment-edit">
    <%= render "_form.html",
      comment_changeset: @changeset,
      path: announcement_comment_path(@conn, :update, @announcement, @comment),
      submit_text: gettext("Update Comment") %>
  </div>
</div>

<script>
  (function() {
    require("web/static/js/comment-form").setupEditForm(
      <%= raw ConstableWeb.AnnouncementView.user_autocomplete_json(@users) %>
    );
  })()
</script>
