<%= author.name %> commented on <%= comment.announcement.title %>

<%= front_end_uri %>/announcements/<%= comment.announcement.id %>

<%= comment.body %>

Unsubscribe: <%= back_end_uri %>/unsubscribe/{{subscription_id}}/
